@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-slide > div { padding: 0; }

body {
  font-family: "Montserrat", 'sans-serif' !important;
  background-color: #f5f4ed;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.glass-morphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  /* width: 300px;  */
}


@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  /* .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  } */
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}

.chef-background {
  background: linear-gradient(to top, #396c03, transparent), url('/chef.jpg');
  background-position: center;
  background-size: cover;
  height: 70vh;
}

.linear-gradient {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

/* .border-width {
  border
} */

/* .slide img{
  width:20rem;
  margin: 0 auto;
  } */
.news-margin {
  margin: 10rem auto;
}  


.footer-bg {
  background: rgb(2,0,36);
  background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  right: 20%;
  top: 5%;
  z-index: -1;

  background: #d1b277;
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-02 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;
  z-index: -1;

  background: #7c7c74;
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-01 {
  position: absolute;
  width: 404px;
  height: 800px;
  right: 20%;
  top: 5%;
  z-index: -1;

  background: #d1b277;
  filter: blur(175px);
  transform: rotate(-114.2deg);
}





.swiper {
  width: 800px;
  height: 500px;
}

.swiper-slide {
  /* display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: #396c03; */
}

.swiper-pagination {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
